body {
  background: #f7fff7;
  font-family: 'Bitter', serif;;
  line-height: 25px;
  font-size: 20px;
  color: #1a535c
}

h1 {
    color: #1a535c;
    font-size: 24px;
    font-weight: 1000;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;;
}

h2 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #1a535c;
}

a:hover {
  color: #fff;
}

.container {
  width: 800px;
  margin: 40px auto;
}

.card {
  background-color: white;
  padding: 30px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 9px;
  margin: 10px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.button {
  background: #4ecdc4;
  width: 120px;
  color: #1a535c;
  padding: 7px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 15%);
  text-align: center;
}

.social-handle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #4ecdc4;
  width: 40px;
  color: #1a535c;
  padding: 4px 4px;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 15%);
  text-align: center;
}

.social-handle a {
  display: flex;
  align-items: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 25px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
